@model Hospital_Management_System.Models.Appointment

@{
    ViewBag.Title = "DetailOfAppointment";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Randevu</li>
        <li class="active">Randevu Detayı</li>
    </ol>
</div>

<h2>Randevu Detayı</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hasta Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.FullName)
        </dd>

        <dt>
            Doktor Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @if (Model.Status)
            {
            @("Aktif")
            }
            else
            {
            @("İnaktif")
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Değiştir", "EditAppointment", new { id = Model.Id }) |
    @if (Model.Status)
    {
    @Html.ActionLink("Geri Dön", "ActiveAppointments")
    }
    else
    {
    @Html.ActionLink("Bekleyen Randevular", "PendingAppointments")
    }
</p>
