@model Hospital_Management_System.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Layout/resources/css/style.css">
</head>


<section class="section-form" id="contact">
    <div class="row">
        <h2>@ViewBag.Title.</h2>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col span-1-of-4">

            </div>
            <div class="col span-2-of-4">
                <div class="plan-box">
                    <div>
                        <div>
                            <label for="name">E-Mailinizi Giriniz</label>
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your Email", id = "name" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <p style="color:orangered">
                            @Html.ActionLink("Giriş Ekranına Geri Dönün", "Login")
                        </p>
                    </div>

                    <div style="text-align: center !important">
                        <input type="submit" value="Email Link" class="btn btn-ghost">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">

            </div>
        </div>
        <br />
        <div style="text-align: center;color:black" class="row">
            @Html.ActionLink("AnaSayfaya Geri Dönün", "/Index", "Hastane")
        </div>
    }

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
