@using Hospital_Management_System.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Layout/resources/css/style.css">
</head>

<section class="section-form" id="contact">
    <div align="center"><img src="~/Medicare-Plus-Medical-Health-HTML-Template/images/logo1.png" alt="resim" /></div>
    <div class="row">
        <h2>@ViewBag.Title.</h2>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col span-1-of-4">

            </div>
            <div class="col span-2-of-4">
                <div class="plan-box">
                    <div>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div>
                            <label for="name">Kullanıcı Adı<span style="color: red; font-weight: bold">*</span></label>
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Kullanıcı Adı", id = "name" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="password">Şifre<span style="color: red; font-weight: bold">*</span></label>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Şifre", id = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <br />
                        <p>
                            @Html.ActionLink("Şifremi Unuttum", "ForgotPassword", new { @disabled = "disabled" })
                        </p>
                        <br />
                        <p>
                            @Html.ActionLink("Kayıt Ol", "Register")
                        </p>
                    </div>

                    <div style="text-align: center !important">
                        <input type="submit" value="Giriş Yap" class="btn btn-ghost">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">

            </div>
        </div>
        <br />
        <div style="text-align: center" class="row">
            @Html.ActionLink("AnaSayfa", "/Index", "Hastane")
        </div>
    }

</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}